/*----------MIXINS*/
@mixin flexIt($justify) {
    display: flex;
    justify-content: $justify;
    align-items: center;
}

/*----------VARIABLES*/
$width: 80vw;
$font: Arial, Helvetica, sans-serif;
$mainCol: #05396B;
$txtCol: #EDF5E0;
$bgCol: #5CDB94;
$subhead: 5vw;
$move: all 500ms ease-in-out;
$mobSubHead: 10vw;

/*--------------------------------LOGO*/
  #logoWrap {
    position: relative;
    height: 5vw;
    width: 5vw;
    margin-top: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #barbox {
    position: absolute;
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #circle {
      position: relative;
    height: 3.5vw;
    width: 3.5vw;
    border-radius: 5vw;
    border: solid 0.2vw $mainCol;
    background-color: $bgCol;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear 1000ms;
  }
  
  #aCircle {
    position: absolute;
    height: 4vw;
    width: 1vw;
    background-color: $bgCol;
    border-radius: 25vw;
    position: absolute;
    transition: $move;
  }
  
  .bar {
    height: 2vw;
    width: 0.6vw;
    min-height: 1vw;
    background-color: $mainCol;
    transition: all 500ms linear;
    box-shadow: inset -0.2vw -0.2vw 0 #03223f;
    z-index: 20;
  }
  
  .bar:nth-child(2) {
    height: 4vw;
    margin: 0 0.3vw;
  }

/*-------------------------------NAV*/
.nav {
    @include flexIt(space-between);
    position: fixed;
    top: -1vw;
    left: 10vw;
    width: $width;
    height: 5vw;
    margin: 1vw auto;
    padding: 0 1vw 0 1vw;
    font-size: 1.5vw;
    font-family: $font;
    color: $mainCol;
    transition: $move;

    ul {
        list-style-type: none;

        li {
            cursor: pointer;

            a {
                text-decoration: none;
                color: $mainCol;
            }
        }
    }

    /*div {
        width: 8vw;
    }
    */
    p {
        font-weight: 600;
    }
}

#siteNav {
    @include flexIt(space-between);
    height: 1.5vw;
    width: 30vw;
    margin: 0;
    text-align: center;
    overflow: hidden;

    li {
        padding-top: 1.2vw;
        cursor: pointer;
        overflow: hidden;
        transition: transform 300ms ease-in-out;

        a {
            color: $mainCol;
            transition: transform 300ms ease-in-out;
        }

        &:hover {
            transform: translateY(-1.3vw);
        }
    }
}

#mediaNav {
    @include flexIt(space-around);
    width: 8vw;
    font-size: 2vw;
}

#about::after {
    content: " About";
}
#port::after {
    content: " Portfolio";
}
#skill::after {
    content: " Skills";
}
#cont::after {
    content: " Contact";
}

.ham {
    display: none;
}

.hamNav {
    display: none;
    opacity: 0;
}


.navmve {
    box-shadow: 0px 0px 10px #000;
    background-color:rgb(255,255,255);
    z-index: 20;
}

/*-----------------------------HEADER*/
.header {
    position: relative;
    width: 100vw;
    height: 50vw;
    font-family: $font;
    font-weight: 900;
    z-index: -20;
    color: $txtCol;
    overflow: hidden;
    background-color: $bgCol;
}

.txt {
    position: absolute;
    width: 80vw;
    top: 40%;
    left: 11%;
    margin: 0 auto;
    font-size: 6vw;
    z-index: -2;
}

.pc {
    position: absolute;
    width: 60vw;
    top: 15%;
    left: -18%;
    z-index: -3;
    transform: rotate(25deg);
}

.tablet {
    position: absolute;
    width: 25vw;
    top: 20%;
    left: 71%;
    z-index: -4;
    transform: rotate(-20deg);
}

.coffee {
    position: absolute;
    width: 20vw;
    top: 5%;
    left: 52%;
    z-index: -3;
    transform: rotate(40deg);
}

.plant {
    position: absolute;
    width: 10vw;
    top: 55%;
    left: 60%;
    z-index: -1;
}
/*-----------------------ABOUT*/
.about {
    @include flexIt(center);
    flex-direction: column;
    width: 100vw;
    height: 30vw;
    margin: 0 auto;
    font-family: $font;
    color: $txtCol;
    background-color: $mainCol;

    h2 {
        font-size: $subhead;
    }

    p {
        width: 30vw;
        margin: 0 auto;
        text-align: center;
        font-size: 1.5vw;
    }
}

/*----------------------------PROJECTS*/
.port {
    @include flexIt(center);
    width: 60vw;
    margin: 0 auto;
}

.testwrap {
    @include flexIt(center);
    flex-direction: column;
    height: 100%;

}

.probox {
    width: 30vw;
    height: 30vw;
    overflow: hidden;
    text-align: center;

    img {
        width: 30vw;
        transition: all 500ms ease-in-out;
    }
}

.txtBox {
    width: 20vw;
    margin: 0 auto;
    padding: 1vw;
    font-size: 1vw;
    color: $mainCol;
    background-color: $bgCol;
    font-family: $font;
    border-radius: 1vw;
    transition: all 500ms ease-in-out;

    h3 {
        font-size: 2vw;
    }

    p {
        margin: 1.5vw 0;
    }

    .btn {
        padding: 0.2vw;
        border: solid $mainCol;
        font-size: 1.2vw;
        border-radius: 1vw;
        transition: $move;
    }
}

.vCode {
    margin-right: 1vw;
    color: $txtCol;
    background-color: $mainCol;

    &:hover {
        color: $mainCol;
        background-color: transparent

    }
}

.vSite {
    color: $mainCol;
    background-color: transparent;

    &:hover {
        color: $txtCol;
        background-color: $mainCol;
    }
}

/*------------------------------SKILLS*/
.skills {
    @include flexIt(center);
    flex-direction: column;
    width: 100vw;
    height: 30vw;
    margin: 0 auto;
    text-align: center;
    font-family: $font;
    color: $txtCol;
    background-color: $mainCol;

    h1 {
        font-size: $subhead;
        margin-bottom: 1.5vw;
    }
}

.skillList {
    @include flexIt(space-around);
    width: 80vw;
    font-size: 2.5vw;

    p {
        font-size: 1.7vw;
        text-align: center;
        border: solid 0.2vw $txtCol;
        width: 50%;
        padding: 0.5vw 0;
        color: $mainCol;
        background-color: $txtCol;
        transition: $move;

        &:hover {
            color: $txtCol;
            background-color: $mainCol;
        }
    }
}

/*--------------------CONTACT*/
.contact {
    position: relative;
    width: 100vw;
    height: 30vw;
    text-align: center;
    font-family: $font;
    font-weight: 900;
    z-index: -20;
    color: $txtCol;
    overflow: hidden;
    background-color: $bgCol;

    h1 {
        position: absolute;
        width: 80vw;
        top: 10%;
        left: 11%;
        margin: 0 auto;
        font-size: 6vw;
        z-index: -2;
    }
}

.contBox {
    position: absolute;
    top: 40%;
    left: 33%;
    font-size: 2vw;
}

.mail {
    margin: 1vw 0;
}

.minorTxt {
    width: 20vw;
    margin: 0 auto;
    padding: 1vw;
    font-size: 1vw;
    line-height: 1.3vw;
    border-radius: 1vw;
    z-index: -2;
    color: $bgCol;
    background-color: $mainCol;
}

.plane {
    position: absolute;
    top: 130%;
    left: 70%;
    width: 20vw;
    z-index: -3;
}

.phone {
    position: absolute;
    top: -330%;
    left: 10%;
    width: 22vw;
    z-index: -3;
}

/*-----------------------FOOTER*/
footer {
    @include flexIt(center);
    text-align: center;
    width: 100vw;
    height: 5vw;
    color: $txtCol;
    background-color: #000;

    p {
        font-family: $font;
        padding-top: 2vw;
        font-size: 1.1vw;
    }
}

/*----------------------Break 1*/
@media only screen and (max-width: 822px) {
    html{
        //background-color: red;
    }
/*------------------------------NAV*/
    #nav {
        div {
            width: 12vw;
        }
    }

    #siteNav {
        @include flexIt(space-between);
        width: 40vw;
        height: 2.2vw;
        font-size: 2.5vw;

        li {
            padding-top: 2.5vw;

            &:hover {
                transform: translateY(-2.5vw);
            }
        }
    }
    
    #mediaNav {
        @include flexIt(space-around);
        width: 12vw;
        font-size: 3vw;
    }

    /*----------------------------HEADER*/
    #header {
        height: 71.7vw;
    }

    /*----------------------------ABOUT*/
    .about {   
        h2 {
            font-size: 5vw;
        }
    
        p {
            width: 40vw;
            font-size: 2.5vw;
        }
    }

    /*--------------------------PROJECTS*/
    .txtBox {
        width: 29vw;
        margin:0 auto;
        padding: 1vw;
        font-size: 2vw;
        color: $mainCol;
        background-color: $bgCol;
        font-family: $font;
        border-radius: 1vw;
        transition: all 500ms ease-in-out;
    
        h3 {
            font-size: 2.5vw;
            margin-bottom: 0.5vw;
        }
    
        .btn {
            margin-top: 1vw;
            border: solid $mainCol;
            font-size: 2.2vw;
            border-radius: 1vw;
        }
    }

    /*------------------------------SKILLS*/

    .skillList {
        @include flexIt(space-around);
        width: 80vw;
        font-size: 2.5vw;

        p {
            font-size: 2.5vw;
            width: 50%;
            padding: 0.5vw 0;
            color: $mainCol;
            background-color: $txtCol;
        }
    }

    /*--------------------CONTACT*/
    .contBox {
        top: 40%;
        left: 28.5%;
        font-size: 2.5vw;
    }
    .minorTxt {
        width: 30vw;
        margin: 0 auto;
        padding: 1vw;
        font-size: 2vw;
        line-height: 2vw;
        border-radius: 1vw;
        color: $bgCol;
        background-color: $mainCol;
    }

    .plane {
        left: 75%
    }

    .phone {
        margin-top: 20vw;
    }

    /*-----------------------FOOTER*/
    footer {

        p {
            padding-top: 2vw;
            font-size: 2.1vw;
        }
    }

}
/*-----------------------Break 2*/
@media only screen and (max-width: 500px) {
    html{
        //background-color: green;
    }

    

    /*------------------------HEADER*/
    .txt {
        top: 45%;
        font-size: 8vw;
        text-align: center;
    }
    
    .pc {
        width: 70vw;
        top: 20%;
        left: -28%;
    }
    
    .tablet {
        width: 30vw;
        top: 25%;
    }
    
    .coffee {
        width: 25vw;
        top: 5%;
        left: 50%;
    }
    
    .plant {
        width: 12vw;
        top: 70%;
        left: 60%;
    }

    /*----------------------------PROJECTS*/
    .port {
        width: 100vw;
        overflow: hidden;
    }

    .testwrap {
        @include flexIt(center);
        flex-direction: column;
        height: 100%;

    }

    .probox {
        width: 50vw;
        height: 50vw;
        overflow: hidden;
        text-align: center;

        img {
            width: 50vw;
            transition: all 500ms ease-in-out;
        }
    }

    .txtBox {
        width: 40vw;
        font-size: 3vw;
        transition: all 500ms ease-in-out;

        h3 {
            font-size: 4vw;
        }

        .btn {
            font-size: 3.2vw;
            border-radius: 2vw;
        }
    }

    .vCode {
        margin-right: 1vw;
        color: $txtCol;
        background-color: $mainCol;
    }

    .vSite {
        color: $mainCol;
        background-color: transparent;
    }
}
/*-----------------------Mobile*/
@media only screen and (max-width: 480px) {
    html{
        //background-color: purple;
    }
    /*---------------------NAV*/
    .nav {
        @include flexIt(space-between);
        width: 100vw;
        height: 12vw;
        box-sizing: border-box;
        transform: translateX(-10vw);
        overflow: hidden;
    }

    #siteNav {
        display: none;
    }

    #mediaNav {
        display: none;
    }

    /*---------------------------------LOGO*/
    #logoWrap {
        height: 10vw;
        width: 10vw;
      }
      
      #circle {
        height: 8.5vw;
        width: 8.5vw;
      }
      
      #aCircle {
        position: absolute;
        height: 9vw;
        width: 4vw;
      }
      
      .bar {
        height: 8vw;
        width: 0.7vw;
        min-height: 2vw;
      }
    /*----------------------------HAMBURGER*/
    .ham {
        @include flexIt(center);
        height:8vw;
        width: 8vw;
        background-color: #fff;
        overflow: hidden;
        border-radius: 0.2vw;
      }
      
      .ham div {
        width: 1vw;
      }
      
      .hamWrap div {
        height: 0.2vw;
        width: 2vw;
        background-color: #000;
      }
      
      .hamWrap div:nth-child(2) {
        margin: 0.5vw 0;
      }
      
      .midLeft, .midRight, .topLeft, .botLeft, .topRight, .botRight, .hamNav {/*change speed as desired*/
        transition: all 300ms ease-in-out;
      }
      
      .ham:hover .midLeft {
        opacity: 0;
        transform: translateX(-1vw)
      }
      .ham:hover .midRight {
        opacity: 0;
        transform: translateX(1vw)
      }
      
      .ham:hover .topLeft {
        transform: Rotate(40deg) translate(0.3vw, 0.2vw);
      }
      
      .ham:hover .botLeft {
        transform: Rotate(-40deg) translate(0.3vw, -0.2vw);
      }
      
      .ham:hover .topRight {
        transform: Rotate(-40deg) translate(-0.3vw, 0.2vw);
      }
      
      .ham:hover .botRight {
        transform: Rotate(40deg) translate(-0.3vw, -0.2vw);
      }
      
      /*----------------------------------------------HAM NAV*/
      .hamNav {
        width: 3vw;
        height: 9vw;
        opacity: 1;
        display: block;
        margin-top: 0vw;
        border-radius: 0.2vw;
        transform: translateY(-5vw);
        background-color: #fff;
      }
      
      .hamNav ul {
        @include flexIt(center);
        text-align: center;
        height: 100%;
        padding-top: 0.3vw;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        margin: 0;
        overflow: hidden;
      }
      
      ul li {
        color: #000;
        font-size: 1vw;
      }
      
      .grow{
        height: 9vw;
        animation: bounce 700ms ease-in-out 300ms;
      }
      
      
      @keyframes bounce {
        0% {height: 10vw;}
        50% {height: 8vw;}
        100% {height: 9vw;}
      }

    /*----------------------------HEADER*/
    .header {
        height: 100vh;
        font-weight: 900;
    }

    .txt {
        width: 20vw;
        top: 20%;
        left: 1%;
        font-size: 18vw;
    }

    .pc {
        width: 90vw;
        top: 50%;
        left: -30%;
    }

    .tablet {
        width: 45vw;
        top: 20%;
        left: 71%;
    }

    .coffee {
        width: 40vw;
        top: 5%;
        left: 22%;
    }

    .plant {
        width: 20vw;
        top: 75%;
        left: 72%;
    }

    /*---------------------------ABOUT*/
    .about {
        height: 100vh;

        h2 {
            font-size: $mobSubHead;
        }

        p {
            width: 60vw;
            font-size: 4vw;
        }
    }

    /*----------------------------PROJECTS*/
    .port {
        flex-direction: column;
        height: 200vh;
    }

    .testwrap {
        flex-direction: column;
        height: 50%;
        width: 100%;
    }

    .probox {
        width: 100vw;
        height: 100vh;

        img {
            width: 90vw;
        }
    }

    .txtBox {
        width: 80vw;
        height: 50vw;
        padding: 1.5vw;
        font-size: 4vw;
        border-radius: 2vw;;

        h3 {
            font-size: 7vw;
            margin-top: 10vw;
        }

        p {
            font-size: 4.7vw;
            margin: 2vw 0 1.5vw 0;
        }

        .btn {
            margin-top: 2vw;
            font-size: 5.2vw;
        }
    }

    /*------------------------------SKILLS*/
    .skills {
        @include flexIt(space-around);
        height: 100vh;

        h1 {
            font-size: $mobSubHead;
            margin-bottom: 2.5vw;
        }
    }

    .skillList {
        @include flexIt(space-around);
        flex-direction: column;
        height: 60vw;

        p {
            font-size: 8.7vw;
            width: 100%;
            padding: 1.8vw 0;
            border: solid 1vw #fff;
            border-radius: 2vw;
        }
    }

    .skillList:nth-child(3) {
        height: 50vw;
        margin-top: -5vw;

        p:nth-child(2) {
            margin-top: -9vw;
        }
    }

    /*--------------------CONTACT*/
    .contact {
        height: 100vh;

        h1 {
            top: 25%;
            margin: 0 auto;
            font-size: $mobSubHead;
        }
    }

    .contBox {
        top: 40%;
        left: 3%;
        font-size: 6vw;
    }

    .mail {
        margin: 1vw 0;
    }

    .minorTxt {
        width: 60vw;
        height: 30vw;
        padding: 1.3vw;
        margin-top: 5vw;
        font-size: 5vw;
        line-height: 4.7vw;
        border-radius: 2vw;
    }

    .plane {
        top: 123%;
        left: 60%;
        width: 40vw;
        z-index: -1;
    }

    .phone {
        top: -295%;
        left: -1%;
        width: 42vw;
    }
}