/*----------MIXINS*/
/*----------VARIABLES*/
/*-------------------------------NAV*/
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: -1vw;
  left: 10vw;
  width: 80vw;
  height: 5vw;
  margin: 1vw auto;
  padding: 0 1vw 0 1vw;
  font-size: 1.5vw;
  font-family: Arial, Helvetica, sans-serif;
  color: #05396B;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.nav ul {
  list-style-type: none;
}

.nav ul li {
  cursor: pointer;
}

.nav ul li a {
  text-decoration: none;
}

.nav div {
  width: 8vw;
}

.nav p {
  font-weight: 600;
}

#siteNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.5vw;
  width: 30vw;
  margin: 0;
  text-align: center;
  overflow: hidden;
}

#siteNav li {
  padding-top: 1.2vw;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

#siteNav li a {
  color: #05396B;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

#siteNav li:hover {
  -webkit-transform: translateY(-1.3vw);
          transform: translateY(-1.3vw);
}

#mediaNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 8vw;
  font-size: 2vw;
}

#about::after {
  content: " About";
}

#port::after {
  content: " Portfolio";
}

#skill::after {
  content: " Skills";
}

#cont::after {
  content: " Contact";
}

.ham {
  display: none;
}

.hamNav {
  display: none;
  opacity: 0;
}

.navmve {
  -webkit-box-shadow: 0px 0px 10px #000;
          box-shadow: 0px 0px 10px #000;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 20;
}

/*-----------------------------HEADER*/
.header {
  position: relative;
  width: 100vw;
  height: 50vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  z-index: -20;
  color: #EDF5E0;
  overflow: hidden;
  background-color: #5CDB94;
}

.txt {
  position: absolute;
  width: 80vw;
  top: 40%;
  left: 11%;
  margin: 0 auto;
  font-size: 6vw;
  z-index: -2;
}

.pc {
  position: absolute;
  width: 60vw;
  top: 15%;
  left: -18%;
  z-index: -3;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

.tablet {
  position: absolute;
  width: 25vw;
  top: 20%;
  left: 71%;
  z-index: -4;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.coffee {
  position: absolute;
  width: 20vw;
  top: 5%;
  left: 52%;
  z-index: -3;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.plant {
  position: absolute;
  width: 10vw;
  top: 55%;
  left: 60%;
  z-index: -1;
}

/*-----------------------ABOUT*/
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 30vw;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  color: #EDF5E0;
  background-color: #05396B;
}

.about h2 {
  font-size: 5vw;
}

.about p {
  width: 30vw;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5vw;
}

/*----------------------------PROJECTS*/
.port {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60vw;
  margin: 0 auto;
}

.testwrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.probox {
  width: 30vw;
  height: 30vw;
  overflow: hidden;
  text-align: center;
}

.probox img {
  width: 30vw;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.txtBox {
  width: 20vw;
  margin: 0 auto;
  padding: 1vw;
  font-size: 1vw;
  color: #05396B;
  background-color: #5CDB94;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 1vw;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.txtBox h3 {
  font-size: 2vw;
}

.txtBox p {
  margin: 1.5vw 0;
}

.txtBox .btn {
  padding: 0.2vw;
  border: solid #05396B;
  font-size: 1.2vw;
  border-radius: 1vw;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.vCode {
  margin-right: 1vw;
  color: #EDF5E0;
  background-color: #05396B;
}

.vCode:hover {
  color: #05396B;
  background-color: transparent;
}

.vSite {
  color: #05396B;
  background-color: transparent;
}

.vSite:hover {
  color: #EDF5E0;
  background-color: #05396B;
}

/*------------------------------SKILLS*/
.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 30vw;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #EDF5E0;
  background-color: #05396B;
}

.skills h1 {
  font-size: 5vw;
  margin-bottom: 1.5vw;
}

.skillList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  font-size: 2.5vw;
}

.skillList p {
  font-size: 1.7vw;
  text-align: center;
  border: solid 0.2vw #EDF5E0;
  width: 50%;
  padding: 0.5vw 0;
  color: #05396B;
  background-color: #EDF5E0;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.skillList p:hover {
  color: #EDF5E0;
  background-color: #05396B;
}

/*--------------------CONTACT*/
.contact {
  position: relative;
  width: 100vw;
  height: 30vw;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  z-index: -20;
  color: #EDF5E0;
  overflow: hidden;
  background-color: #5CDB94;
}

.contact h1 {
  position: absolute;
  width: 80vw;
  top: 10%;
  left: 11%;
  margin: 0 auto;
  font-size: 6vw;
  z-index: -2;
}

.contBox {
  position: absolute;
  top: 40%;
  left: 33%;
  font-size: 2vw;
}

.mail {
  margin: 1vw 0;
}

.minorTxt {
  width: 20vw;
  margin: 0 auto;
  padding: 1vw;
  font-size: 1vw;
  line-height: 1.3vw;
  border-radius: 1vw;
  z-index: -2;
  color: #5CDB94;
  background-color: #05396B;
}

.plane {
  position: absolute;
  top: 130%;
  left: 70%;
  width: 20vw;
  z-index: -3;
}

.phone {
  position: absolute;
  top: -330%;
  left: 10%;
  width: 22vw;
  z-index: -3;
}

/*-----------------------FOOTER*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100vw;
  height: 5vw;
  color: #EDF5E0;
  background-color: #000;
}

footer p {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 2vw;
  font-size: 1.1vw;
}

/*----------------------Break 1*/
@media only screen and (max-width: 822px) {
  /*------------------------------NAV*/
  #nav div {
    width: 12vw;
  }
  #siteNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40vw;
    height: 2.2vw;
    font-size: 2.5vw;
  }
  #siteNav li {
    padding-top: 2.5vw;
  }
  #siteNav li:hover {
    -webkit-transform: translateY(-2.5vw);
            transform: translateY(-2.5vw);
  }
  #mediaNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 12vw;
    font-size: 3vw;
  }
  /*----------------------------HEADER*/
  #header {
    height: 71.7vw;
  }
  /*----------------------------ABOUT*/
  .about h2 {
    font-size: 5vw;
  }
  .about p {
    width: 40vw;
    font-size: 2.5vw;
  }
  /*--------------------------PROJECTS*/
  .txtBox {
    width: 29vw;
    margin: 0 auto;
    padding: 1vw;
    font-size: 2vw;
    color: #05396B;
    background-color: #5CDB94;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 1vw;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
  .txtBox h3 {
    font-size: 2.5vw;
    margin-bottom: 0.5vw;
  }
  .txtBox .btn {
    margin-top: 1vw;
    border: solid #05396B;
    font-size: 2.2vw;
    border-radius: 1vw;
  }
  /*------------------------------SKILLS*/
  .skillList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80vw;
    font-size: 2.5vw;
  }
  .skillList p {
    font-size: 2.5vw;
    width: 50%;
    padding: 0.5vw 0;
    color: #05396B;
    background-color: #EDF5E0;
  }
  /*--------------------CONTACT*/
  .contBox {
    top: 40%;
    left: 28.5%;
    font-size: 2.5vw;
  }
  .minorTxt {
    width: 30vw;
    margin: 0 auto;
    padding: 1vw;
    font-size: 2vw;
    line-height: 2vw;
    border-radius: 1vw;
    color: #5CDB94;
    background-color: #05396B;
  }
  .plane {
    left: 75%;
  }
  .phone {
    margin-top: 20vw;
  }
  /*-----------------------FOOTER*/
  footer p {
    padding-top: 2vw;
    font-size: 2.1vw;
  }
}

/*-----------------------Break 2*/
@media only screen and (max-width: 500px) {
  /*------------------------HEADER*/
  .txt {
    top: 45%;
    font-size: 8vw;
    text-align: center;
  }
  .pc {
    width: 70vw;
    top: 20%;
    left: -28%;
  }
  .tablet {
    width: 30vw;
    top: 25%;
  }
  .coffee {
    width: 25vw;
    top: 5%;
    left: 50%;
  }
  .plant {
    width: 12vw;
    top: 70%;
    left: 60%;
  }
  /*----------------------------PROJECTS*/
  .port {
    width: 100vw;
    overflow: hidden;
  }
  .testwrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .probox {
    width: 50vw;
    height: 50vw;
    overflow: hidden;
    text-align: center;
  }
  .probox img {
    width: 50vw;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
  .txtBox {
    width: 40vw;
    font-size: 3vw;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
  .txtBox h3 {
    font-size: 4vw;
  }
  .txtBox .btn {
    font-size: 3.2vw;
    border-radius: 2vw;
  }
  .vCode {
    margin-right: 1vw;
    color: #EDF5E0;
    background-color: #05396B;
  }
  .vSite {
    color: #05396B;
    background-color: transparent;
  }
}

/*-----------------------Mobile*/
@media only screen and (max-width: 480px) {
  /*---------------------NAV*/
  #nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #nav div {
    display: none;
  }
  #siteNav {
    display: none;
  }
  #mediaNav {
    display: none;
  }
  /*----------------------------HAMBURGER*/
  .ham {
    height: 10vw;
    width: 10vw;
    margin-top: 8vw;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    border-radius: 0.2vw;
  }
  .ham div {
    width: 1vw;
  }
  .hamWrap div {
    height: 0.2vw;
    width: 2vw;
    background-color: #000;
  }
  .hamWrap div:nth-child(2) {
    margin: 0.5vw 0;
  }
  .midLeft, .midRight, .topLeft, .botLeft, .topRight, .botRight, .hamNav {
    /*change speed as desired*/
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  .ham:hover .midLeft {
    opacity: 0;
    -webkit-transform: translateX(-1vw);
            transform: translateX(-1vw);
  }
  .ham:hover .midRight {
    opacity: 0;
    -webkit-transform: translateX(1vw);
            transform: translateX(1vw);
  }
  .ham:hover .topLeft {
    -webkit-transform: Rotate(40deg) translate(0.3vw, 0.2vw);
            transform: Rotate(40deg) translate(0.3vw, 0.2vw);
  }
  .ham:hover .botLeft {
    -webkit-transform: Rotate(-40deg) translate(0.3vw, -0.2vw);
            transform: Rotate(-40deg) translate(0.3vw, -0.2vw);
  }
  .ham:hover .topRight {
    -webkit-transform: Rotate(-40deg) translate(-0.3vw, 0.2vw);
            transform: Rotate(-40deg) translate(-0.3vw, 0.2vw);
  }
  .ham:hover .botRight {
    -webkit-transform: Rotate(40deg) translate(-0.3vw, -0.2vw);
            transform: Rotate(40deg) translate(-0.3vw, -0.2vw);
  }
  /*----------------------------------------------HAM NAV*/
  .hamNav {
    width: 3vw;
    height: 0vw;
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -0.3vw;
    border-radius: 0.2vw;
    background-color: #fff;
  }
  .hamNav ul {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0.3vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  ul li {
    color: #000;
    font-size: 1vw;
  }
  .grow {
    height: 9vw;
    -webkit-animation: bounce 700ms ease-in-out 300ms;
            animation: bounce 700ms ease-in-out 300ms;
  }
  @-webkit-keyframes bounce {
    0% {
      height: 10vw;
    }
    50% {
      height: 8vw;
    }
    100% {
      height: 9vw;
    }
  }
  @keyframes bounce {
    0% {
      height: 10vw;
    }
    50% {
      height: 8vw;
    }
    100% {
      height: 9vw;
    }
  }
  /*----------------------------HEADER*/
  .header {
    height: 100vh;
    font-weight: 900;
  }
  .txt {
    width: 20vw;
    top: 20%;
    left: 1%;
    font-size: 18vw;
  }
  .pc {
    width: 90vw;
    top: 50%;
    left: -30%;
  }
  .tablet {
    width: 45vw;
    top: 20%;
    left: 71%;
  }
  .coffee {
    width: 40vw;
    top: 5%;
    left: 22%;
  }
  .plant {
    width: 20vw;
    top: 75%;
    left: 72%;
  }
  /*---------------------------ABOUT*/
  .about {
    height: 100vh;
  }
  .about h2 {
    font-size: 10vw;
  }
  .about p {
    width: 60vw;
    font-size: 4vw;
  }
  /*----------------------------PROJECTS*/
  .port {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 200vh;
  }
  .testwrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 50%;
    width: 100%;
  }
  .probox {
    width: 100vw;
    height: 100vh;
  }
  .probox img {
    width: 90vw;
  }
  .txtBox {
    width: 80vw;
    height: 50vw;
    padding: 1.5vw;
    font-size: 4vw;
    border-radius: 2vw;
  }
  .txtBox h3 {
    font-size: 7vw;
    margin-top: 10vw;
  }
  .txtBox p {
    font-size: 4.7vw;
    margin: 2vw 0 1.5vw 0;
  }
  .txtBox .btn {
    margin-top: 2vw;
    font-size: 5.2vw;
  }
  /*------------------------------SKILLS*/
  .skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
  }
  .skills h1 {
    font-size: 10vw;
    margin-bottom: 2.5vw;
  }
  .skillList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 60vw;
  }
  .skillList p {
    font-size: 8.7vw;
    width: 100%;
    padding: 1.8vw 0;
    border: solid 1vw #fff;
    border-radius: 2vw;
  }
  .skillList:nth-child(3) {
    height: 50vw;
    margin-top: -5vw;
  }
  .skillList:nth-child(3) p:nth-child(2) {
    margin-top: -9vw;
  }
  /*--------------------CONTACT*/
  .contact {
    height: 100vh;
  }
  .contact h1 {
    top: 25%;
    margin: 0 auto;
    font-size: 10vw;
  }
  .contBox {
    top: 40%;
    left: 3%;
    font-size: 6vw;
  }
  .mail {
    margin: 1vw 0;
  }
  .minorTxt {
    width: 60vw;
    height: 30vw;
    padding: 1.3vw;
    margin-top: 5vw;
    font-size: 5vw;
    line-height: 4.7vw;
    border-radius: 2vw;
  }
  .plane {
    top: 123%;
    left: 60%;
    width: 40vw;
    z-index: -1;
  }
  .phone {
    top: -295%;
    left: -1%;
    width: 42vw;
  }
}
/*# sourceMappingURL=styles.css.map */