/*----------MIXINS*/
@mixin flexIt($justify) {
    display: flex;
    justify-content: $justify;
    align-items: center;
}

/*----------VARIABLES*/
$width: 80vw;
$font: Arial, Helvetica, sans-serif;
$mainCol: #05396B;
$txtCol: #EDF5E0;
$bgCol: #5CDB94;
$subhead: 5vw;
$move: all 500ms ease-in-out;

/*-------------------------------NAV*/
.nav {
    @include flexIt(space-between);
    position: fixed;
    top: -1vw;
    left: 10vw;
    width: $width;
    height: 5vw;
    margin: 1vw auto;
    padding: 0 1vw 0 1vw;
    font-size: 1.5vw;
    font-family: $font;
    color: $mainCol;
    transition: $move;

    ul {
        list-style-type: none;

        li {
            cursor: pointer;

            a {
                text-decoration: none;
            }
        }
    }

    div {
        width: 8vw;
    }
    p {
        font-weight: 600;
    }
}

#siteNav {
    @include flexIt(space-between);
    height: 1.5vw;
    width: 30vw;
    margin: 0;
    text-align: center;
    overflow: hidden;

    li {
        padding-top: 1.2vw;
        cursor: pointer;
        overflow: hidden;
        transition: transform 300ms ease-in-out;

        a {
            color: $mainCol;
            transition: transform 300ms ease-in-out;
        }

        &:hover {
            transform: translateY(-1.3vw);
        }
    }
}

#mediaNav {
    @include flexIt(space-around);
    width: 8vw;
    font-size: 2vw;
}

#about::after {
    content: " About";
}
#port::after {
    content: " Portfolio";
}
#skill::after {
    content: " Skills";
}
#cont::after {
    content: " Contact";
}

#mobileNav {
    display: none;
}

.navmve {
    box-shadow: 0px 0px 10px #000;
    background-color:rgba(255,255,255,0.5);
    z-index: 20;
}

/*-----------------------------HEADER*/
.header {
    position: relative;
    width: 100vw;
    height: 50vw;
    font-family: $font;
    font-weight: 900;
    z-index: -20;
    color: $txtCol;
    overflow: hidden;
    background-color: $bgCol;
}

.txt {
    position: absolute;
    width: 80vw;
    top: 40%;
    left: 11%;
    margin: 0 auto;
    font-size: 6vw;
    z-index: -2;
}

.pc {
    position: absolute;
    width: 60vw;
    top: 15%;
    left: -18%;
    z-index: -3;
    transform: rotate(25deg);
}

.tablet {
    position: absolute;
    width: 25vw;
    top: 20%;
    left: 71%;
    z-index: -4;
    transform: rotate(-20deg);
}

.coffee {
    position: absolute;
    width: 20vw;
    top: 5%;
    left: 52%;
    z-index: -3;
    transform: rotate(40deg);
}

.plant {
    position: absolute;
    width: 10vw;
    top: 55%;
    left: 60%;
    z-index: -1;
}
/*-----------------------ABOUT*/
.about {
    @include flexIt(center);
    flex-direction: column;
    width: 100vw;
    height: 30vw;
    margin: 0 auto;
    font-family: $font;
    color: $txtCol;
    background-color: $mainCol;

    h2 {
        font-size: $subhead;
    }

    p {
        width: 30vw;
        margin: 0 auto;
        text-align: center;
        font-size: 1.5vw;
    }
}

/*----------------------------PROJECTS*/
.port {
    @include flexIt(center);
    width: 60vw;
    margin: 0 auto;
}

.testwrap {
    @include flexIt(center);
    flex-direction: column;
    height: 100%;

}

.probox {
    width: 30vw;
    height: 30vw;
    overflow: hidden;
    text-align: center;

    img {
        width: 30vw;
        transition: all 500ms ease-in-out;
    }
}

.txtBox {
    width: 20vw;
    margin:0 auto;
    padding: 1vw;
    font-size: 1vw;
    color: $mainCol;
    background-color: $bgCol;
    font-family: $font;
    border-radius: 1vw;
    transition: all 500ms ease-in-out;

    h3 {
        font-size: 2vw;
        margin-bottom: 0.5vw;
    }

    button {
        margin-top: 1vw;
        border: solid $mainCol;
        font-size: 1.2vw;
        border-radius: 1vw;
    }
}

.vCode {
    margin-right: 1vw;
    color: $txtCol;
    background-color: $mainCol;
}

.vSite {
    color: $mainCol;
    background-color: transparent;
}

/*------------------------------SKILLS*/
.skills {
    @include flexIt(center);
    flex-direction: column;
    width: 100vw;
    height: 30vw;
    margin: 0 auto;
    text-align: center;
    font-family: $font;
    color: $txtCol;
    background-color: $mainCol;

    h1 {
        font-size: $subhead;
        margin-bottom: 1.5vw;
    }
}

.skillList {
    @include flexIt(space-around);
    width: 80vw;
    font-size: 2.5vw;

    p {
        font-size: 1.7vw;
        text-align: center;
        border: solid 0.2vw $txtCol;
        width: 50%;
        padding: 0.5vw 0;
        color: $mainCol;
        background-color: $txtCol;
        transition: $move;

        &:hover {
            color: $txtCol;
            background-color: $mainCol;
        }
    }
}

/*--------------------CONTACT*/
.contact {
    position: relative;
    width: 100vw;
    height: 30vw;
    text-align: center;
    font-family: $font;
    font-weight: 900;
    z-index: -20;
    color: $txtCol;
    overflow: hidden;
    background-color: $bgCol;

    h1 {
        position: absolute;
        width: 80vw;
        top: 10%;
        left: 11%;
        margin: 0 auto;
        font-size: 6vw;
        z-index: -2;
    }
}

.contBox {
    position: absolute;
    top: 40%;
    left: 33%;
    font-size: 2vw;
}

.mail {
    margin: 1vw 0;
}

.minorTxt {
    width: 20vw;
    margin: 0 auto;
    padding: 1vw;
    font-size: 1vw;
    line-height: 1.3vw;
    border-radius: 1vw;
    z-index: -2;
    color: $bgCol;
    background-color: $mainCol;
}

.plane {
    position: absolute;
    top: 130%;
    left: 70%;
    width: 20vw;
    z-index: -3;
}

.phone {
    position: absolute;
    top: -330%;
    left: 10%;
    width: 22vw;
    z-index: -3;
}

/*-----------------------FOOTER*/
footer {
    @include flexIt(center);
    text-align: center;
    width: 100vw;
    height: 5vw;
    color: $txtCol;
    background-color: #000;

    p {
        font-family: $font;
        padding-top: 2vw;
        font-size: 1.1vw;
    }
}

/*----------------------Break 1*/
@media only screen and (max-width: 822px) {
    html{
        //background-color: red;
    }
/*------------------------------NAV*/
    #nav {
        div {
            width: 12vw;
        }
    }

    #siteNav {
        @include flexIt(space-between);
        width: 40vw;
        height: 2.2vw;
        font-size: 2.5vw;

        li {
            padding-top: 2.5vw;

            &:hover {
                transform: translateY(-2.5vw);
            }
        }
    }
    
    #mediaNav {
        @include flexIt(space-around);
        width: 12vw;
        font-size: 3vw;
    }

    /*----------------------------HEADER*/
    #header {
        height: 71.7vw;
    }

    /*----------------------------ABOUT*/
    .about {   
        h2 {
            font-size: 5vw;
        }
    
        p {
            width: 40vw;
            font-size: 2.5vw;
        }
    }

    /*--------------------------PROJECTS*/
    .txtBox {
        width: 29vw;
        margin:0 auto;
        padding: 1vw;
        font-size: 2vw;
        color: $mainCol;
        background-color: $bgCol;
        font-family: $font;
        border-radius: 1vw;
        transition: all 500ms ease-in-out;
    
        h3 {
            font-size: 2.5vw;
            margin-bottom: 0.5vw;
        }
    
        button {
            margin-top: 1vw;
            border: solid $mainCol;
            font-size: 2.2vw;
            border-radius: 1vw;
        }
    }

    /*------------------------------SKILLS*/

    .skillList {
        @include flexIt(space-around);
        width: 80vw;
        font-size: 2.5vw;

        p {
            font-size: 2.5vw;
            width: 50%;
            padding: 0.5vw 0;
            color: $mainCol;
            background-color: $txtCol;
        }
    }

    /*--------------------CONTACT*/
    .contBox {
        top: 40%;
        left: 28.5%;
        font-size: 2.5vw;
    }
    .minorTxt {
        width: 30vw;
        margin: 0 auto;
        padding: 1vw;
        font-size: 2vw;
        line-height: 2vw;
        border-radius: 1vw;
        color: $bgCol;
        background-color: $mainCol;
    }

    .plane {
        left: 75%
    }

    .phone {
        margin-top: 20vw;
    }

    /*-----------------------FOOTER*/
    footer {

        p {
            padding-top: 2vw;
            font-size: 2.1vw;
        }
    }

}
/*-----------------------Break 2*/
@media only screen and (max-width: 500px) {
    html{
        //background-color: green;
    }

    

    /*------------------------HEADER*/
    .txt {
        top: 45%;
        font-size: 8vw;
        text-align: center;
    }
    
    .pc {
        width: 70vw;
        top: 20%;
        left: -28%;
    }
    
    .tablet {
        width: 30vw;
        top: 25%;
    }
    
    .coffee {
        width: 25vw;
        top: 5%;
        left: 50%;
    }
    
    .plant {
        width: 12vw;
        top: 70%;
        left: 60%;
    }

    /*----------------------------PROJECTS*/
    .port {
        width: 100vw;
        overflow: hidden;
    }

    .testwrap {
        @include flexIt(center);
        flex-direction: column;
        height: 100%;

    }

    .probox {
        width: 50vw;
        height: 50vw;
        overflow: hidden;
        text-align: center;

        img {
            width: 50vw;
            transition: all 500ms ease-in-out;
        }
    }

    .txtBox {
        width: 40vw;
        font-size: 3vw;
        transition: all 500ms ease-in-out;

        h3 {
            font-size: 4vw;
        }

        button {
            font-size: 3.2vw;
            border-radius: 2vw;
        }
    }

    .vCode {
        margin-right: 1vw;
        color: $txtCol;
        background-color: $mainCol;
    }

    .vSite {
        color: $mainCol;
        background-color: transparent;
    }
}
/*-----------------------Mobile*/
@media only screen and (max-width: 480px) {
    html{
        background-color: purple;
    }
    /*---------------------NAV*/
    #nav {
        @include flexIt(center);

        div {
            display: none;
        }
    }

    #siteNav {
        display: none;
    }

    #mediaNav {
        display: none;
    }

    #mobileNav {
        @include flexIt(space-around);
        width: 100%;
        font-size: 5vw;
    }

    /*----------------------------HEADER*/
    #header {
        height: 100vw;
        text-align: center;
    }

    .txt {
        font-size: 10vw;
    }

    /*---------------------------ABOUT*/
    .about {
        height: 50vw;

        h2 {
            font-size: 8vw;
        }

        p {
            width: 60vw;
            font-size: 4vw;
        }
    }
}